-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: localhost    Database: school_website
-- ------------------------------------------------------
-- Server version	8.4.3

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `berita`
--

DROP TABLE IF EXISTS `berita`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `berita` (
  `berita_id` varchar(36) NOT NULL,
  `judulBesar` varchar(50) NOT NULL,
  `judulKecil` varchar(32) DEFAULT NULL,
  `urlImgUtama` varchar(100) DEFAULT NULL,
  `isi` text NOT NULL,
  `post` varchar(20) NOT NULL,
  PRIMARY KEY (`berita_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `berita`
--

LOCK TABLES `berita` WRITE;
/*!40000 ALTER TABLE `berita` DISABLE KEYS */;
/*!40000 ALTER TABLE `berita` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fasilitas`
--

DROP TABLE IF EXISTS `fasilitas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fasilitas` (
  `fasilitas_id` varchar(36) NOT NULL,
  `url_img` varchar(100) NOT NULL,
  `keterangan` varchar(50) NOT NULL,
  PRIMARY KEY (`fasilitas_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fasilitas`
--

LOCK TABLES `fasilitas` WRITE;
/*!40000 ALTER TABLE `fasilitas` DISABLE KEYS */;
INSERT INTO `fasilitas` VALUES ('94c89ea2-b76b-4288-9504-0dfd13d20be8','fasf','tes');
/*!40000 ALTER TABLE `fasilitas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `file_download`
--

DROP TABLE IF EXISTS `file_download`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `file_download` (
  `file_download_id` varchar(36) NOT NULL,
  `name` varchar(50) NOT NULL,
  `url` varchar(100) NOT NULL,
  `post` varchar(20) NOT NULL,
  PRIMARY KEY (`file_download_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `file_download`
--

LOCK TABLES `file_download` WRITE;
/*!40000 ALTER TABLE `file_download` DISABLE KEYS */;
/*!40000 ALTER TABLE `file_download` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `foto`
--

DROP TABLE IF EXISTS `foto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `foto` (
  `foto_id` varchar(36) NOT NULL,
  `url_foto` varchar(100) NOT NULL,
  `keterangan` text NOT NULL,
  `post` varchar(20) NOT NULL,
  PRIMARY KEY (`foto_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `foto`
--

LOCK TABLES `foto` WRITE;
/*!40000 ALTER TABLE `foto` DISABLE KEYS */;
/*!40000 ALTER TABLE `foto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `guru_staf`
--

DROP TABLE IF EXISTS `guru_staf`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `guru_staf` (
  `guru_staf_id` varchar(36) NOT NULL,
  `nama` varchar(50) NOT NULL,
  `jabatan` varchar(32) NOT NULL,
  `kategori` enum('guru','staf','kepala_sekolah') NOT NULL,
  `keterangan` text,
  `url_fotoProfile` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`guru_staf_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `guru_staf`
--

LOCK TABLES `guru_staf` WRITE;
/*!40000 ALTER TABLE `guru_staf` DISABLE KEYS */;
INSERT INTO `guru_staf` VALUES ('d1b74016-534f-4e35-a72a-2803881b8f6d','-','Kepala Sekolah','kepala_sekolah','<h4>-</h4>\r\n','-');
/*!40000 ALTER TABLE `guru_staf` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jurusan`
--

DROP TABLE IF EXISTS `jurusan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jurusan` (
  `jurusan_id` varchar(36) NOT NULL,
  `jurusan` varchar(50) NOT NULL,
  `url_logo` varchar(100) DEFAULT NULL,
  `keterangan` text,
  PRIMARY KEY (`jurusan_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jurusan`
--

LOCK TABLES `jurusan` WRITE;
/*!40000 ALTER TABLE `jurusan` DISABLE KEYS */;
INSERT INTO `jurusan` VALUES ('prog-1','Tahfidz Quran','','Program unggulan menghafal Al-Quran dengan target minimal 2 juz'),('prog-2','English Club','','Program pengembangan kemampuan bahasa Inggris'),('prog-3','Sains & Robotik','','Program pengembangan minat sains dan teknologi'),('prog-4','Seni & Olahraga','','Pengembangan bakat seni dan olahraga');
/*!40000 ALTER TABLE `jurusan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `komentar`
--

DROP TABLE IF EXISTS `komentar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `komentar` (
  `komentar_id` varchar(36) NOT NULL,
  `berita_id` varchar(36) NOT NULL,
  `nama` varchar(32) NOT NULL,
  `komentar` text NOT NULL,
  `post` varchar(20) NOT NULL,
  PRIMARY KEY (`komentar_id`),
  KEY `berita_id` (`berita_id`),
  CONSTRAINT `komentar_ibfk_1` FOREIGN KEY (`berita_id`) REFERENCES `berita` (`berita_id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `komentar`
--

LOCK TABLES `komentar` WRITE;
/*!40000 ALTER TABLE `komentar` DISABLE KEYS */;
INSERT INTO `komentar` VALUES ('b2356cb6-b42f-4110-a5bf-3e8673c88482','32447057-7967-4d61-a709-e400af41b9f1','sda','asf','1768528177');
/*!40000 ALTER TABLE `komentar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `komentarbalas`
--

DROP TABLE IF EXISTS `komentarbalas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `komentarbalas` (
  `balas_id` varchar(36) NOT NULL,
  `komentar_id` varchar(36) NOT NULL,
  `nama` varchar(32) NOT NULL,
  `komenBalas` text NOT NULL,
  `post` varchar(20) NOT NULL,
  PRIMARY KEY (`balas_id`),
  KEY `komentar_id` (`komentar_id`),
  CONSTRAINT `komentarbalas_ibfk_1` FOREIGN KEY (`komentar_id`) REFERENCES `komentar` (`komentar_id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `komentarbalas`
--

LOCK TABLES `komentarbalas` WRITE;
/*!40000 ALTER TABLE `komentarbalas` DISABLE KEYS */;
INSERT INTO `komentarbalas` VALUES ('14887772-a88a-4de7-bdd9-f822116abd50','b2356cb6-b42f-4110-a5bf-3e8673c88482','nanan','hihi','1768529470');
/*!40000 ALTER TABLE `komentarbalas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kontak`
--

DROP TABLE IF EXISTS `kontak`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kontak` (
  `kontak_id` varchar(36) NOT NULL,
  `no_telp` varchar(32) NOT NULL,
  `email` varchar(32) NOT NULL,
  `facebook` varchar(32) NOT NULL,
  `alamat` text NOT NULL,
  PRIMARY KEY (`kontak_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kontak`
--

LOCK TABLES `kontak` WRITE;
/*!40000 ALTER TABLE `kontak` DISABLE KEYS */;
INSERT INTO `kontak` VALUES ('4d3d9961-f3ae-4886-b318-bd133e373ce2','(021) 7428360','sdi.khazanah@gmail.com','SD Islam Khazanah Kebajikan','Jl. Talas I Rt.01/Rw.10, Pondok Cabe Ilir, Kec. Pamulang, Kota Tangerang Selatan, Banten 15418');
/*!40000 ALTER TABLE `kontak` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `logo_sekolah`
--

DROP TABLE IF EXISTS `logo_sekolah`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `logo_sekolah` (
  `logo_sekolah_id` varchar(36) NOT NULL,
  `file_name` varchar(36) NOT NULL,
  PRIMARY KEY (`logo_sekolah_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `logo_sekolah`
--

LOCK TABLES `logo_sekolah` WRITE;
/*!40000 ALTER TABLE `logo_sekolah` DISABLE KEYS */;
INSERT INTO `logo_sekolah` VALUES ('68123721-5235-43e3-b2de-d536f7a7df6e','logo_sdi_khazanah.png');
/*!40000 ALTER TABLE `logo_sekolah` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `opening_word`
--

DROP TABLE IF EXISTS `opening_word`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `opening_word` (
  `opening_word_id` varchar(36) NOT NULL,
  `nama_sekolah` varchar(50) NOT NULL,
  `word` varchar(255) NOT NULL,
  `url_background` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`opening_word_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `opening_word`
--

LOCK TABLES `opening_word` WRITE;
/*!40000 ALTER TABLE `opening_word` DISABLE KEYS */;
/*!40000 ALTER TABLE `opening_word` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengunguman`
--

DROP TABLE IF EXISTS `pengunguman`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pengunguman` (
  `pengunguman_id` varchar(36) NOT NULL,
  `judul` varchar(50) NOT NULL,
  `isi` text NOT NULL,
  PRIMARY KEY (`pengunguman_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengunguman`
--

LOCK TABLES `pengunguman` WRITE;
/*!40000 ALTER TABLE `pengunguman` DISABLE KEYS */;
INSERT INTO `pengunguman` VALUES ('5ef4b609-caed-4969-bce7-d2d724117b10','Penerimaan Peserta Didik Baru','Pendaftaran siswa baru SD Islam Khazanah Kebajikan Tahun Ajaran 2026/2027 sudah dibuka. Segera daftarkan putra-putri Anda untuk mendapatkan pendidikan Islam berkualitas!');
/*!40000 ALTER TABLE `pengunguman` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sejarah`
--

DROP TABLE IF EXISTS `sejarah`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sejarah` (
  `sejarah_id` varchar(36) NOT NULL,
  `judul_sejarah` varchar(50) NOT NULL,
  `sejarah` text NOT NULL,
  PRIMARY KEY (`sejarah_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sejarah`
--

LOCK TABLES `sejarah` WRITE;
/*!40000 ALTER TABLE `sejarah` DISABLE KEYS */;
/*!40000 ALTER TABLE `sejarah` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `struktur`
--

DROP TABLE IF EXISTS `struktur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `struktur` (
  `struktur_id` varchar(36) NOT NULL,
  `url_struktur` varchar(100) NOT NULL,
  PRIMARY KEY (`struktur_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `struktur`
--

LOCK TABLES `struktur` WRITE;
/*!40000 ALTER TABLE `struktur` DISABLE KEYS */;
INSERT INTO `struktur` VALUES ('0e45aa60-8c8d-4a40-9316-3e17e633ab07','http://localhost/website-sekolah/assets/img/structur.png');
/*!40000 ALTER TABLE `struktur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `user_id` varchar(36) NOT NULL,
  `nama` varchar(30) NOT NULL,
  `username` varchar(32) NOT NULL,
  `password` varchar(60) NOT NULL,
  `level` enum('operator','admin','superAdmin') NOT NULL,
  `lastLogin` varchar(20) NOT NULL,
  PRIMARY KEY (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES ('2c822118-aa0d-4f2a-8fe3-da8ab4e35565','Admin1','admin','$2y$10$KE4s3gUwEsWvSy0B7Rq9pO/phdVTHqCTay4Ki1B2XX0VZg6hEnhvK','superAdmin','1768529248'),('747b39b6-0477-4bf3-a7bf-fe602b515e15','nanan','nanan','$2y$10$ZsD1msxvlaXj3nMEVMD7XujhECoH5XXwSC3A.iR0H1UZh4CixQWju','superAdmin','1768529356');
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `video`
--

DROP TABLE IF EXISTS `video`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `video` (
  `video_id` varchar(36) NOT NULL,
  `url_video` varchar(100) NOT NULL,
  `post` varchar(20) NOT NULL,
  PRIMARY KEY (`video_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `video`
--

LOCK TABLES `video` WRITE;
/*!40000 ALTER TABLE `video` DISABLE KEYS */;
/*!40000 ALTER TABLE `video` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `visi_misi`
--

DROP TABLE IF EXISTS `visi_misi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `visi_misi` (
  `visi_misi_id` varchar(36) NOT NULL,
  `visi` text NOT NULL,
  `misi` text NOT NULL,
  PRIMARY KEY (`visi_misi_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `visi_misi`
--

LOCK TABLES `visi_misi` WRITE;
/*!40000 ALTER TABLE `visi_misi` DISABLE KEYS */;
/*!40000 ALTER TABLE `visi_misi` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-16  9:20:29
